@keyframes myfirst {
  from { background: red; left: 0; }
  to { background: yellow; left: 100px; }
}

@keyframes myfirst {
  from { background: red; }
  to { background: yellow; }
}

@keyframes myfirst {
  from { background: red; }
  to { background: yellow; }
}

@keyframes myfirst {
  from { background: red; }
  to { background: yellow; }
}

.test {
  position: relative;
  animation: myfirst 5s;
  animation: myfirst 5s;	/* Firefox */
  animation: myfirst 5s;	/* Safari 和 Chrome */
  animation: myfirst 5s;	/* Opera */
  color: green;
}

.red {
  position: relative;
  left: 100px;
  color: red;
}

.green {
  position: relative;
  left: 100px;
  color: green;
}
